{% extends "layout.html" %}
{% load i18n %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}



{% block content %}
<div class="t-flex t-justify-center t-mt-[10rem]">
    <img src="https://ifh.cc/g/6iRRqH.png" alt="" width="13%">
</div>
<div>
    <p class="t-mt-[2rem] t-text-2xl">
        이메일이 성공적으로 보내졌습니다 !<br>
    </p>
</div>

    <hr class="t-mt-[22rem]">

    <footer>
        <p class="t-text-sm t-text-gray-600">
            <spen>Copyright 2022. Movie View. All Rights Reserved</spen>
        </p>
    </footer>

<!--<p><a href="{% url 'common:login' %}">{% translate 'Log in' %}</a></p>-->

{% endblock %}