{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="t-mt-[10rem] t-text-3xl">비밀번호 초기화 페이지 <br> ※ 공사중 ※</div>
    <div class="t-mt-[3rem] t-flex t-justify-center">
        <span class="t-justify-center">이메일 :</span>
        <form method="post">{% csrf_token %}
            <fieldset class="module aligned">
                <div class="form-row field-email t-text-black">
                    {{ form.email.errors }} 　
                    {{ form.email }}
                </div>
                <div class="t-mt-[2rem]">
                    <button type="submit" name="go" class="btn btn-block btn-danger btn-sm">이메일 보내기</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock %}
