{% extends "layout.html" %}
{% load i18n static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="t-mt-[10rem] t-text-2xl">
        <p class="t-ml-[5rem]">비밀번호 초기화</p>
        <div class="t-mt-[3rem] t-flex t-justify-center">
            <span class="t-justify-center">이메일 :</span>
            <form method="post">{% csrf_token %}
                <form class="module aligned">
                    <div class="t-text-black">
                        {{ form.email.errors }} 　
                        {{ form.email }}
                    </div>
                    <div class="t-mt-[2rem] t-ml-[1.2rem]">
                        <button type="submit" name="go" class="btn btn-block btn-danger">이메일 보내기</button>
                    </div>
                </form>
            </form>
        </div>
    </div>
</div>

    {% endblock %}
