{% extends "layout.html" %}
{% load i18n %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
    &rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}



{% block content %}

<div>
    <p class="t-mt-[16rem] t-text-3xl">
        비밀번호 초기화 완료 <br>
        <a class="btn btn-danger t-mt-[1rem]" href="{% url 'common:login' %}">로그인 하러가기</a>
    </p>
</div>

    <hr class="t-mt-[22rem]">

    <footer>
        <p class="t-text-sm t-text-gray-600">
            <spen>Copyright 2022. Movie View. All Rights Reserved</spen>
        </p>
    </footer>

<!--<p><a href="{% url 'common:login' %}">{% translate 'Log in' %}</a></p>-->

{% endblock %}