{% extends "layout.html" %}
{% load humanize %}
{%block content %}
<head>


    <style>
@CHARSET "UTF-8";

{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	outline: none;
}

body {
	background-color: #1c1c1c;
}

.login-form {
	margin: 100px auto;
	max-width: 300px;

    </style>
</head>

<body>
<section class="login-form t-justify-between">
    <form method="post" class="post-form" action="{% url 'common:signup' %}">
        {% csrf_token %}
        {% include "form_errors.html" %}

        <div class="form-group t-text-left">
            <label for="first_name">실명</label>
            <input type="text" class="form-control" placeholder="Realname" name="first_name" id="first_name"
                   value="{{ form.first_name.value|default_if_none:'' }}">
        </div>


        <div class="form-group t-text-left">
            <label for="username">아이디</label>
            <input type="text" class="form-control" placeholder="Username" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>

        <div class="form-group t-text-left">
            <label for="password1">비밀번호</label>
            <input type="password" class="form-control" placeholder="Password" name="password1" id="password1"
                   value="{{ form.password1.value|default_if_none:'' }}">
        </div>

        <div class="form-group t-text-left">
            <label for="password2">비밀번호 확인</label>
            <input type="password" class="form-control" placeholder="Password" name="password2" id="password2"
                   value="{{ form.password2.value|default_if_none:'' }}">
        </div>

        <div class="form-group t-text-left">
            <label for="email">이메일</label>
            <input type="text" class="form-control" placeholder="Email" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}">
        </div>
        <button type="submit" name="go" class="btn btn-block btn-danger">회원가입</button>
    </form>
    </form>
</section>
    <hr class="t-mt-[14.7.rem]">

    <footer>
        <p class="t-text-sm t-text-gray-600">
            <spen>Copyright 2022. Movie View. All Rights Reserved</spen>
        </p>
    </footer>
</body>
{% endblock %}