{% extends "layout.html" %}
{% load humanize %}
{% load django_bootstrap5 %}
{%block content %}

<section class="section-prod-detail t-align-item-center t-mt-[20px] t-py-[30px] t-bg-gray-900/50" style="border-radius:5px">
    <img class="t-mx-auto t-w-[30rem]"  style="border-radius:5px" src="{{movie.thumb_img_url}}" alt="">
    <div class="card t-mt-[30px]">
        <div class="card-header t-text-black">
            <p>{{ movie.name }}에 대한 <span class="font-gblue t-text-red-500">{{ movie.question_set.count }}</span>
                개의 이야기가 있어요 !
            </p>
        </div>
        <ul class="list-group list-group-flush">
            {% for question in question_list %}
            <li class="t-text-black">
                <span class="badge bg-secondary ">{{ forloop.counter }}</span>
                {{ question.content }}
                {% if question.user == request.user %}
                <a href="{% url 'mv:question_delete' movie.id question.id %}" class="btn btn-sm btn-warning"
                   onclick="if ( confirm('정말 삭제하시겠습니까?') == false ) return false;">삭제</a>
                {% endif %}
                {% if question.user == request.user %}
                <a href="{% url 'mv:question_modify' movie.id question.id %}"
                   class="btn btn-sm btn-secondary">수정</a>
                {% endif %}
                <br>
                작성자 : {{ question.user }}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% if user.is_authenticated %}
    <form method="POST" action="{% url 'mv:question_create' movie.id %}">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="리뷰작성" %}
    </form>
    {% endif %}
    </div>
</section>
{% endblock %}