{% extends 'layout.html' %}
{% load humanize %}
{%block content %}

{% with img_box_class="t-relative t-overflow-hidden <!--t-rounded-->" %}
{% with img_box_before_class="before:t-content-[''] before:t-absolute before:t-inset-0 before:t-bg-[#00000000] group-hover:before:t-bg-[#00000055] before:t-transition-all" %}
{% with img_box_after_class="after:t-content-[attr(data-before)] after:t-hidden <!--group-hover:after:t-block--> after:t-no-underline after:t-text-white after:t-border-2 after:t-border-white after:t-border-solid after:t-rounded after:t-p-2 after:t-whitespace-nowrap after:t-absolute after:t-top-[50%] after:t-left-[50%] after:t-translate-y-[-50%] after:t-translate-x-[-50%] after:t-transition-all" %}

<section class="section-prod-list">
    <div class="container">
        <div class="container">
            <ul class="t-grid t-grid-cols-2 sm:t-grid-cols-2 md:t-grid-cols-3 lg:sm:t-grid-cols-4 t-gap-[40px] t-mt-[2rem]">
                {% for movie in movie_list %}
                <li class="t-flex t-flex-col t-group">
                    <a data-before="리뷰 하러가기" href="{% url 'mv:detail' movie.id %}"
                       class="{{img_box_class}} {{img_box_before_class}} {{img_box_after_class}}">
                        {% if movie.image %}
                        <img class="t-block t-w-full t-transition-all group-hover:t-scale-110 t-relative t--z-50" src="{{ movie.image.url }}" alt="">
                        {% else %}
                        <img class="t-block t-w-full t-transition-all group-hover:t-scale-110 t-relative t--z-50" src="{{ movie.thumb_img_url }}" alt="">
                        {% endif %}
                    </a>

                    <a class="t-text-left t-mt-[5px] t-no-underline t-text-gray-700 group-hover:t-text-gray-600" href="{% url 'mv:detail' movie.id %}">
                        {{  movie.display_name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <hr class="t-mt-[2rem]">
    <p class="t-text-sm t-bg-gradient-to-r t-from-indigo-800 t-to-indigo-700 t-text-white">
       <span>Copyright 2022.01.26 , MovieView</span>
    </p>
</section>

{% endwith %}
{% endwith %}
{% endwith %}

{%endblock%}