{% extends "layout.html" %}
{% load humanize %}

{%block content %}

<div class="container">
    <form method="post" class="post-form">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <section class="section-prod-detail t-align-item-center t-mt-[20px] t-py-[30px] ">
            <h3 class="t-p-0 t-mb-3 t-fw-normal">리뷰 수정</h3>
            <div class="form-group p-4">
                <label for="content"></label>
                <textarea class="form-control" name="content" id="content" rows="10">{{ form.content.value|default_if_none:'' }}</textarea>
            </div>
            <div class="t-mt-4">
                <button type="submit" class="btn btn-primary">저장하기</button>
            </div>
        </section>

    </form>
</div>

{%endblock%}